body{
    background-color: #343345;
}


.card {
    margin: 10px;
    width: 180px;
    height: 350px;
    transition: transform 0.1s ease-out;
    cursor: pointer;
    transform-style: preserve-3d;
    perspective: 1000px;
    display: flex;
    flex-direction: column;
}

.container{
    border: solid 2px #FDDE2B;
}

.containerHeroes {
    border: solid 2px #FDDE2B;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.containerMaps {
    border: solid 2px #FDDE2B;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.filterButton {
    margin: 10px;
}

.btn {
    padding: 10px 20px;
    border: 1px solid #FDDE2B;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn.active {
    background-color: #FDDE2B;
    color: #343345;
}

.btn.inactive {
    background-color: #343345;
    color: #FDDE2B;
}


.card {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

