body{
    background-color: #343345;
}


.card{
    margin: 10px;
    width: 180px;
    height: 350px;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.card:hover, .cardMap:hover {
    animation: tiltY 2s linear infinite;
}

@keyframes tiltY {
    0% {
        transform: rotateY(10deg);
    }
    10% {
        transform: rotateY(20deg);
    }
    20% {
        transform: rotateY(30deg);
    }
    30% {
        transform: rotateY(20deg);
    }
    40% {
        transform: rotateY(10deg);
    }
    50% {
        transform: rotateY(0deg);
    }
    60% {
        transform: rotateY(-10deg);
    }
    70% {
        transform: rotateY(-20deg);
    }
    80% {
        transform: rotateY(-30deg);
    }
    90% {
        transform: rotateY(-20deg);
    }
    95% {
        transform: rotateY(-10deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.container{
    border: solid 2px #FDDE2B;
}

.containerHeroes {
    border: solid 2px #FDDE2B;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.containerMaps {
    border: solid 2px #FDDE2B;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.filterButton {
    margin: 10px;
}

.btn {
    padding: 10px 20px;
    border: 1px solid #FDDE2B;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn.active {
    background-color: #FDDE2B;
    color: #343345;
}

.btn.inactive {
    background-color: #343345;
    color: #FDDE2B;
}


.card {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

